.ant-tabs-nav-list{
  display: flex!important;

  width: 1024px;
  margin: 10px auto 0;


  .ant-tabs-tab{
    color:white;
    margin-right: 30px;

    .ant-tabs-tab-btn {

    }
  }
}

.SortableMarketTable {
    width: 1024px;
    border: none;
    background-color: #242936;
    margin:0 auto;
    color: #6d717a;
    justify-content: space-evenly;

  .SortableMarketTableThead {

    display: flex;
    justify-content: space-evenly;

    .hoverThead{
      width:100px;
      &:hover{
        color:#ffba00;
      }
    }

  }
    .SortableMarketTableTr {
      display: flex;
      justify-content: space-evenly;
      border: none;
      background-color: #1d212b;
      padding-top: .8rem;
      padding-bottom: .8rem;
      color:#a0a5af;
    }

  }
