.SelectTab{
  width: 1024px;

  margin: 0 auto;

  .SelectTabFilter{
    display: flex;
    width:300px;
    justify-content: space-between;

    .SelectableMarketFilters{
      height: 2rem;
      display: flex;
      align-items: center;
      padding: 0.5rem 2rem;
    }

  }


}

.SortableMarketTable {
    width: 1024px;
    border: none;
    background-color: #242936;
    margin:0 auto;
    color: #6d717a;

    .SortableMarketTable th {
      border: none;
      color: #6d717a!important;
      background-color: #242936;
      font-weight: 700;
      line-height: 1.4rem;
      padding: .7rem 1.6rem;
      vertical-align: middle;
    }

    .SortableMarketTable__favoriteCell{
      padding: .7rem 1.6rem;
    }

    .SortableMarketTable__coinNameCell{
      padding-left: 0!important;
      width: 180px;
    }


  }

