.SortableTable{
  width:1024px;
  margin: 0 auto;
  max-width: 102.4rem;
  min-height: 60rem;
  padding-top: 2.5rem;
  padding-bottom: 4.8rem;

  .SortTableRow{
    width:100%;
    display: flex;
    justify-content: space-between;
  }
}
